 <header>
    <div class="name"><%= current_user.name%>さん！</div>
    <h2 class="text-white display-6 "><%= link_to "TODO-APP",root_path%></h2>
    <div class="btn-group">
      
     <button type="button" class="btn btn-success" ><%= link_to "リストを作成",new_list_path%></li></button>
     <button type="button" class="btn btn-danger"><%= link_to "サインアウト",destroy_user_session_path ,method: :delete %></li> </button>  
    </div>
</header>