 <header>
    <div class="name">itoさん</div>
    <div class="text-white display-4 border"><%= link_to "TODO-APP","#"%></div>
    <div class="btn-group">
      
     <button type="button" class="btn btn-success" ><%= link_to "リストを作成","#"%></li></button>
     <button type="button" class="btn btn-danger"><%= link_to "サインアウト",destroy_user_session_path ,method: :delete %></li> </button>  
    </div>
   </header>